/*=== Google Fonts ===*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

/* Variable CSS */
:root {
  --header-height: 3.5rem;

  /* Colors */
  /* Color mode HSL (Hue, Stauration, Ligthness) */
  --bg-color: hsl(214, 9%, 85%);
  --bg-color-light: hsl(206, 43%, 90%);
  --title-color: hsl(206, 8%, 10%);
  --text-color: hsl(206, 4%, 32%);
  --text-color-light: hsl(206, 4%, 55%);
  --body-color: hsl(206, 17%, 99%);
  --container-color: hsl(206, 22%, 97%);

  /*== Font & Typography ==*/
  /* 0.5rem = 8px | 1rem = 16px */

  --body-font: "Lora", serif;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.098rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Font Weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Index */
  --z-tooltip: 10;
  --z-fixed: 100;

  /* Responsive Typography */
  @media screen and (min-width: 1224px) {
    :root {
      --biggest-font-size: 4.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.873rem;
      --smaller-font-size: 0.815rem;
    }
  }

  /* BASE  */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }

  h1,
  h2,
  h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
